In [17]:
import glob
import pandas as pd
from typing import List, Dict

Use glob to get all timelog files as a list.

In [18]:
timelogs: list = glob.glob("./timelog/*.csv")

Make a dictionairy of dates, dataframe pairs.

In [19]:
timelogs: Dict[str, pd.DataFrame] = {timelog.split('/')[-1].split('.')[0]: pd.read_csv(timelog) for timelog in timelogs}

Concatenate into a multi-index dataframe.

In [20]:
df = pd.concat(timelogs)

In [23]:
df.to_csv('outputs/timelogs.csv')

Count by channel.

In [24]:
df.groupby('Voice Channel').count()

                   Time  Username  UserID
Voice Channel
Algo Trading       3973      3973    3973
Biz                 180       180     180
Development        1586      1586    1586
FT Smart Village   1682      1682    1682
Front End           174       174     174
General Comms      3258      3258    3258
LTF                1669      1669    1669
Linux Gaming          4         4       4
NowWhere           4381      4381    4381
Panther             977       977     977
RealEx             4156      4156    4156
Solarpunk             1         1       1
Token Engineering  6623      6623    6623
panther             736       736     736

Group by month.

Group by person.

Use holoviews to make a holomap with dropdown menus of the above.